#full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

li.left {
    text-align: left;
    float: left;
    width: 30%;
}

li.center {
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    width: 40%;
}

li.right {
    text-align: right;
    float: right;
    width: 30%;
}

#addEvent {
    cursor: pointer;
}

#settingBtn {
    cursor: pointer;
}

#joystick_Canvas {
    cursor: crosshair;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.action_box_inline {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 10px;
}

.action_box {
    width: 100px;
    height: 50px;
    margin: 10px;
}

.team_box {
    width: 60px;
    height: 25px;
    margin: 10px;
    background-color: #ff661a;
    border-color: #ff9966;
    border-width: 2px;
    border-style: solid;
}

.team_box_press {
    width: 60px;
    height: 25px;
    margin: 10px;
    background-color: #ffddcc;
    border-color: #ff6600;
    border-width: 2px;
    border-style: solid;
}

.Side_Choice {
    height: 40px;
    width: 80px;
    color: #ffcc00;
    background-color: rgba(102, 51, 0, 0.8);
    border-color: #ff9900;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
}

.Side_Choice_press {
    height: 50px;
    width: 110px;
    color: #ff0000;
    background-color: rgba(255, 204, 0, 1);
    border-color: #cc0052;
    border-width: 4px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 10px;
    border-style: solid;
}

.Btn_set {
    color: #fff;
    background-color: #982A2A;
    border-color: #F39107;
    border-width: 3px;
    border-style: solid;
    text-align: center;
}

.Btn_set_press {
    color: #fff;
    background-color: #F39107;
    border-color: #F39107;
    border-width: 3px;
    text-align: center;
    border-style: solid;
}

.Btn_Sheng {
    color: #fff;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.Btn_Sheng_press {
    color: #fff;
    background-color: #0066cc;
    border-color: #0066cc;
    border-width: 2px;
    text-align: center;
    border-style: solid;
}

#General_tabs li {
    background: #ddd;
    border: 1px solid #ccc;
    border-bottom: none;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    color: #999;
    cursor: pointer;
}

#General_tabs li:hover {
    color: #666;
}

#General_tabs li.enable {
    border-bottom: 1px solid #ddd;
    margin-bottom: -1px;
    color: #333;
}

#General_contents {
    background: #ddd;
    border: 1px solid #ccc;
    box-shadow: 0 0 16px #ccc;
}

#General_contents > div {
    display: none;
    text-align: justify;
    padding: 10px 15px;
}

#General_contents > div:first-of-type {
    display: block;
}