<?xml version="1.0" ?>
<launch> 
	<arg name="robotIndex" default="R1" />
	<arg name="robotNameSpace" value="/FIRA/$(arg robotIndex)" />

	<!-- for strategy -->
	<arg name="Opponent" value="false"/>

	
	<group ns="$(arg robotNameSpace)">
		<rosparam command="load" file="$(find fira_launch)/default_config/$(arg robotIndex).yaml" />

		<!-- strategy -->
		<group ns="strategy">
			<!-- robot -->
			<node name="strategy" pkg="strategy" type="FIRA_strategy" output="screen" args="-opt $(arg Opponent)" />
		</group>
		
		<!-- vision -->
		

		<!-- control -->
					
	</group>

</launch>






























