/*
#Setting_General{
 padding:3px;
  margin: auto;
  text-align: center;
  border-style:solid;
  position:relative;
  top:10%;
  left :-10%;
  width: 400px;
  height: 480px;
}
*/
#SPlanningVelocity{
  background-image: none;
  /*background-color: #99CCFF;*/
  font-size: 12px;
  color: #663D00;
}
#SPlanningVelocity.ui-state-active{
  background-color: #FFCC00;
  font-size: 17px;
  color: #1A1A65;
}
#DistanceSettings{
  background-image: none;
  /*background-color: #99CCFF;*/
  font-size: 12px;
  color: #663D00;
}
#DistanceSettings.ui-state-active{
  background-color: #FFCC00;
  font-size: 17px;
  color: #1A1A65;
}

th {
  width:50%;
}

td {
  width:50%;
}