<?xml version="1.0" ?>
<launch>

  <arg name="gui" default="true" />



  <!-- spawn general model for the youbot -->
  <arg name="youbot_model" default="$(find youbot_description)/robots/youbot.urdf.xacro" />
  <param name="youbot_description" command="$(find xacro)/xacro.py '$(arg youbot_model)'" />

  <!-- YOUBOT0 -->
  <param name="tf_prefix" value="youbot0" />
  <!-- spawn single robots-->
  <group ns="/youbot0">
    <param name="tf_prefix" value="youbot0" />

    <include file="$(find youbot_gazebo)/launch/spawn_youbot.launch">
      <arg name="name" value="youbot0"/>
      <arg name="pos_x" value="2.25"/>
      <arg name="pos_y" value="0"/>
      <arg name="pos_z" value="0.1"/>
      <arg name="yaw" value="3.14"/>
      <arg name="namespace_arg" value="youbot0"/>
    </include>
  </group>

  <!-- start tf publisher for laser scanner-->
  <!-- TODO: should be replaced with a robot-wide tf publisher-->
<!--
  <node name="youbot0_tf_scanner" pkg="tf" type="static_transform_publisher" args="0.3 0 -0.03 0 0 0 youbot0/base_link youbot0/base_laser_front_link 40" />
-->
  <!-- YOUBOT1 -->
  <param name="tf_prefix" value="youbot1" />
  <group ns="/youbot1">
    <param name="tf_prefix" value="youbot1" />

    <include file="$(find youbot_gazebo)/launch/spawn_youbot.launch">
      <arg name="name" value="youbot1"/>
      <arg name="pos_x" value="1.5"/>
      <arg name="pos_y" value="1.0"/>
      <arg name="pos_z" value="0.1"/>
      <arg name="yaw" value="3.14"/>
      <arg name="namespace_arg" value="youbot1"/>
    </include>
  </group>

  <!-- YOUBOT2 -->
  <param name="tf_prefix" value="youbot2" />
  <group ns="/youbot2">
    <param name="tf_prefix" value="youbot2" />

    <include file="$(find youbot_gazebo)/launch/spawn_youbot.launch">
      <arg name="name" value="youbot2"/>
      <arg name="pos_x" value="1.5"/>
      <arg name="pos_y" value="-1.0"/>
      <arg name="pos_z" value="0.1"/>
      <arg name="yaw" value="3.14"/>
      <arg name="namespace_arg" value="youbot2"/>
    </include>
  </group>

<!-- YOUBOT3 -->
  <param name="tf_prefix" value="youbot3" />
  <group ns="/youbot3">
    <param name="tf_prefix" value="youbot3" />

    <include file="$(find youbot_gazebo)/launch/spawn_youbot.launch">
      <arg name="name" value="youbot3"/>
      <arg name="pos_x" value="-2.25"/>
      <arg name="pos_y" value="0"/>
      <arg name="pos_z" value="0.1"/>
      <arg name="namespace_arg" value="youbot3"/>
    </include>
  </group>


<!-- YOUBOT4 -->
  <param name="tf_prefix" value="youbot4" />
  <group ns="/youbot4">
    <param name="tf_prefix" value="youbot4" />

    <include file="$(find youbot_gazebo)/launch/spawn_youbot.launch">
      <arg name="name" value="youbot4"/>
      <arg name="pos_x" value="-1.5"/>
      <arg name="pos_y" value="1.0"/>
      <arg name="pos_z" value="0.1"/>
      <arg name="namespace_arg" value="youbot4"/>
    </include>
  </group>

<!-- YOUBOT5 -->
  <param name="tf_prefix" value="youbot5" />
  <group ns="/youbot5">
    <param name="tf_prefix" value="youbot5" />

    <include file="$(find youbot_gazebo)/launch/spawn_youbot.launch">
      <arg name="name" value="youbot5"/>
      <arg name="pos_x" value="-1.5"/>
      <arg name="pos_y" value="-1.0"/>
      <arg name="pos_z" value="0.1"/>
      <arg name="namespace_arg" value="youbot5"/>
    </include>
  </group>


</launch>
