<launch>
  <!-- amcl node -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="use_map_topic" value="true"/>
    <param name="first_map_only" value="true"/>
    <param name="laser_model_type" value="likelihood_field"/>

    <param name="initial_pose_x" value="0"/>
    <param name="initial_pose_y" value="0"/>
    <param name="initial_pose_a" value="0"/>
    <param name="initial_cov_xx" value="2"/>
    <param name="initial_cov_yy" value="2"/>
    <param name="initial_cov_aa" value="4"/>
    <param name="odom_model_type" value="diff"/>
    <param name="odom_alpha1" value="0.01"/>
    <param name="odom_alpha2" value="0.01"/>
    <param name="odom_alpha3" value="2.5"/>
    <param name="odom_alpha4" value="2.5"/>
    <param name="odom_alpha5" value="0.2"/>
    <param name="global_frame_id" value="/map"/>
    <param name="odom_frame_id" value="/odom"/>
    <param name="base_frame_id" value="/base_link"/>
    <param name="tf_broadcast" value="true"/>

    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_lambda_short" value="0.1"/>
</node>
</launch>
