<launch>
  <!-- amcl node -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <!--Overall filter parameters-->
    <param name="use_map_topic" value="true"/>
    <param name="first_map_only" value="true"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <param name="global_frame_id" value="/map"/>
    <param name="odom_frame_id" value="/odom"/>
    <param name="base_frame_id" value="/base_link"/>
    <param name="tf_broadcast" value="true"/>

    <param name="min_particles" value ="400"/>
    <param name="max_particles" value ="500"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.1"/>
    <param name="save_pose_rate" value="90"/>
    <param name="gui_publish_rate " value="60"/>
    <!--Initial pose parameters-->
    <param name="initial_pose_x" value="0"/>
    <param name="initial_pose_y" value="0"/>
    <param name="initial_pose_a" value="0"/>
    <param name="initial_cov_xx" value="0.5 * 0.5"/>
    <param name="initial_cov_yy" value="0.5 * 0.5"/>
    <param name="initial_cov_aa" value="（π/ 12）*（π/ 12）"/>
    <param name="odom_model_type" value="omni"/>
    <param name="odom_alpha1" value="3"/>
    <param name="odom_alpha2" value="3"/>
    <param name="odom_alpha3" value="3"/>
    <param name="odom_alpha4" value="3"/>
    <param name="odom_alpha5" value="3"/>
    <!--Laser model parameters-->
    <!--likelihood_field model uses only 2: z_hit and z_rand.-->
    <param name="laser_z_hit" value="0.95"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_likelihood_max_dist" value="0.5"/>
    <!--<param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.1"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/>-->
  </node>
</launch>
