<?xml version="1.0" ?>
<launch> 
	<arg name="RobotNS" value="FIRA_1/Strategy"/>
	<arg name="RobotIndex" value="1"/>

	<!--<include file="$(find node_manager_fkie)/launch/demo_capabilities.launch"/>-->

	<group ns="$(arg RobotNS)">
		<node name="Coach" pkg="strategy" type="teamStrategy" output="screen" args="-r $(arg RobotIndex)">
			<param name="paramTest" value="Hokuyo"/>
		</node>
	</group>

</launch>






























