#auto{
  background-image: none;
  background-color: #E6E6E6;
  font-size: 17px;
  color: #999999;
}
#auto.ui-state-active{
  background-color: #FFCC00;
  font-size: 17px;
  color: #1A1A65;
}
#manual{
  background-image: none;
  background-color: #E6E6E6;
  font-size: 17px;
  color: #999999;
}
#manual.ui-state-active{
  background-color: #FFCC00;
  font-size: 17px;
  color: #1A1A65;
}